# added manually
/songs
/common/src/main/java/uk
/desktop/src/main/java/jass
/.idea/caches

# added by Android Studio
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
